#header-outer,
.ascend #header-outer[data-full-width="true"][data-using-pr-menu="true"] header#top nav ul.buttons li.menu-item,
.ascend #header-outer[data-full-width="true"][data-format="centered-menu"] header#top nav ul.buttons li#social-in-menu {
    padding-top: 20px;
}

body #header-outer[data-format="centered-menu-under-logo"] .span_3 {
    padding-bottom: 20px;
}

#header-outer #logo img {
    height: 60px;
}

.ascend #header-outer[data-full-width="true"] header#top nav>ul.buttons {
    margin-top: -20px;
}

header#top nav>ul>li:not(#social-in-menu)>a {
    padding-bottom: 40px;
    padding-top: 20px;
}

header#top nav>ul>li#social-in-menu>a {
    margin-bottom: 40px;
    margin-top: 20px;
}

#header-outer .cart-menu {
    padding-bottom: 40px;
    padding-top: 40px;
}

header#top nav>ul li#search-btn,
header#top nav>ul li.slide-out-widget-area-toggle {
    padding-bottom: 20px;
    padding-top: 21px;
}

header#top .sf-menu>li.sfHover>ul {
    top: 20px;
}

.sf-sub-indicator {
    height: 20px;
}

#header-outer[data-lhe="animated_underline"] header#top nav>ul>li>a,
header#top nav>ul>li[class*="button_solid_color"]>a,
body #header-outer:not([data-lhe="animated_underline"]) header#top nav ul li[class*="button_solid_color"] a:hover,
#header-outer[data-lhe="animated_underline"] header#top nav>ul>li[class*="button_bordered"]>a,
header#top nav>ul>li[class*="button_bordered"]>a,
body #header-outer.transparent header#top nav>ul>li[class*="button_bordered"]>a,
body #header-outer.transparent header#top nav>ul>li[class*="button_solid_color"]>a,
#header-outer[data-lhe="animated_underline"] header#top nav>ul>li[class*="button_solid_color"]>a {
    margin-left: 10px;
    margin-right: 10px;
}

#header-outer[data-lhe="default"] header#top nav>ul>li>a {
    padding-left: 10px;
    padding-right: 10px;
}

#header-space {
    height: 100px;
}

body[data-smooth-scrolling="1"] #full_width_portfolio .project-title.parallax-effect {
    top: 100px;
}

body.single-product div.product .product_title {
    padding-right: 0;
}

#ajax-loading-screen .reveal-1 {
    background-color: #ffffff;
}

#ajax-loading-screen .reveal-2 {
    background-color: #ffffff;
}

@media only screen and (max-width:1000px) {
    body header#top #logo img,
    #header-outer[data-permanent-transparent="false"] #logo .dark-version {
        height: 40px!important;
    }
    header#top .col.span_9 {
        min-height: 64px;
        line-height: 44px;
    }
}

body #header-outer,
body[data-header-color="dark"] #header-outer {
    background-color: rgba(255, 255, 255, 0.50);
}

.nectar-slider-loading .loading-icon,
.portfolio-loading,
#ajax-loading-screen .loading-icon,
.loading-icon,
.pp_loaderIcon {
    background-image: url("");
}

@media only screen and (min-width:1000px) and (max-width:1300px) {
    .nectar-slider-wrap[data-full-width="true"] .swiper-slide .content h2,
    .nectar-slider-wrap[data-full-width="boxed-full-width"] .swiper-slide .content h2,
    .full-width-content .vc_span12 .swiper-slide .content h2 {
        font-size: 45px!important;
        line-height: 51px!important;
    }
    .nectar-slider-wrap[data-full-width="true"] .swiper-slide .content p,
    .nectar-slider-wrap[data-full-width="boxed-full-width"] .swiper-slide .content p,
    .full-width-content .vc_span12 .swiper-slide .content p {
        font-size: 18px!important;
        line-height: 31.2px!important;
    }
}

@media only screen and (min-width :690px) and (max-width :1000px) {
    .nectar-slider-wrap[data-full-width="true"] .swiper-slide .content h2,
    .nectar-slider-wrap[data-full-width="boxed-full-width"] .swiper-slide .content h2,
    .full-width-content .vc_span12 .swiper-slide .content h2 {
        font-size: 33px!important;
        line-height: 39px!important;
    }
    .nectar-slider-wrap[data-full-width="true"] .swiper-slide .content p,
    .nectar-slider-wrap[data-full-width="boxed-full-width"] .swiper-slide .content p,
    .full-width-content .vc_span12 .swiper-slide .content p {
        font-size: 13.2px!important;
        line-height: 24px!important;
    }
}

@media only screen and (max-width :690px) {
    .nectar-slider-wrap[data-full-width="true"][data-fullscreen="false"] .swiper-slide .content h2,
    .nectar-slider-wrap[data-full-width="boxed-full-width"][data-fullscreen="false"] .swiper-slide .content h2,
    .full-width-content .vc_span12 .nectar-slider-wrap[data-fullscreen="false"] .swiper-slide .content h2 {
        font-size: 15px!important;
        line-height: 21px!important;
    }
    .nectar-slider-wrap[data-full-width="true"][data-fullscreen="false"] .swiper-slide .content p,
    .nectar-slider-wrap[data-full-width="boxed-full-width"][data-fullscreen="false"] .swiper-slide .content p,
    .full-width-content .vc_span12 .nectar-slider-wrap[data-fullscreen="false"] .swiper-slide .content p {
        font-size: 10px!important;
        line-height: 17.52px!important;
    }
}

@media only screen and (min-width:1000px) {
    .container,
    body[data-header-format="left-header"] .container,
    .woocommerce-tabs .full-width-content .tab-container,
    .nectar-recent-posts-slider .flickity-page-dots,
    #post-area.standard-minimal.full-width-content article.post .inner-wrap {
        max-width: 1425px;
        width: 100%;
        margin: 0 auto;
        padding: 0 90px;
    }
    body[data-header-format="left-header"] .container,
    body[data-header-format="left-header"] .woocommerce-tabs .full-width-content .tab-container,
    body[data-header-format="left-header"] .nectar-recent-posts-slider .flickity-page-dots,
    body[data-header-format="left-header"] #post-area.standard-minimal.full-width-content article.post .inner-wrap {
        padding: 0 60px;
    }
    body .container .page-submenu.stuck .container:not(.tab-container):not(.normal-container),
    .nectar-recent-posts-slider .flickity-page-dots,
    #nectar_fullscreen_rows[data-footer="default"] #footer-widgets .container,
    #nectar_fullscreen_rows[data-footer="default"] #copyright .container {
        padding: 0 90px!important;
    }
    .swiper-slide .content {
        padding: 0 90px;
    }
    body[data-header-format="left-header"] .container .page-submenu.stuck .container:not(.tab-container),
    body[data-header-format="left-header"] .nectar-recent-posts-slider .flickity-page-dots {
        padding: 0 60px!important;
    }
    body[data-header-format="left-header"] .swiper-slide .content {
        padding: 0 60px;
    }
    body .container .container:not(.tab-container):not(.recent-post-container):not(.normal-container) {
        width: 100%!important;
        padding: 0!important;
    }
    body .carousel-heading .container {
        padding: 0 10px!important;
    }
    body .carousel-heading .container .carousel-next {
        right: 10px;
    }
    body .carousel-heading .container .carousel-prev {
        right: 35px;
    }
    .carousel-wrap[data-full-width="true"] .carousel-heading a.portfolio-page-link {
        left: 90px;
    }
    .carousel-wrap[data-full-width="true"] .carousel-heading {
        margin-left: -20px;
        margin-right: -20px;
    }
    .carousel-wrap[data-full-width="true"] .carousel-next {
        right: 90px!important;
    }
    .carousel-wrap[data-full-width="true"] .carousel-prev {
        right: 115px!important;
    }
    .carousel-wrap[data-full-width="true"] {
        padding: 0!important;
    }
    .carousel-wrap[data-full-width="true"] .caroufredsel_wrapper {
        padding: 20px!important;
    }
    #search-outer #search #close a {
        right: 90px;
    }
    #boxed,
    #boxed #header-outer,
    #boxed #header-secondary-outer,
    #boxed #slide-out-widget-area-bg.fullscreen,
    #boxed #page-header-bg[data-parallax="1"],
    #boxed #featured,
    body[data-footer-reveal="1"] #boxed #footer-outer,
    #boxed .orbit>div,
    #boxed #featured article,
    .ascend #boxed #search-outer {
        max-width: 1400px!important;
        width: 90%!important;
        min-width: 980px;
    }
    body[data-hhun="1"] #boxed #header-outer:not(.detached),
    body[data-hhun="1"] #boxed #header-secondary-outer {
        width: 100%!important;
    }
    #boxed #search-outer #search #close a {
        right: 0!important;
    }
    #boxed .container {
        width: 92%;
        padding: 0;
    }
    #boxed #footer-outer #footer-widgets,
    #boxed #footer-outer #copyright {
        padding-left: 0;
        padding-right: 0;
    }
    #boxed .carousel-wrap[data-full-width="true"] .carousel-heading a.portfolio-page-link {
        left: 35px;
    }
    #boxed .carousel-wrap[data-full-width="true"] .carousel-next {
        right: 35px!important;
    }
    #boxed .carousel-wrap[data-full-width="true"] .carousel-prev {
        right: 60px!important;
    }
}

@media only screen and (min-width:1000px) {
    .container,
    body[data-header-format="left-header"] .container,
    .woocommerce-tabs .full-width-content .tab-container,
    .nectar-recent-posts-slider .flickity-page-dots,
    #post-area.standard-minimal.full-width-content article.post .inner-wrap {
        max-width: 1425px;
    }
}

.pagination-navigation {
    -webkit-filter: url("http://www.martinezdecarneros.com/#goo");
    filter: url("http://www.martinezdecarneros.com/#goo");
}

body {
    background-color: #ffffff!important;
}

.divisor {
    margin-bottom: 0!important;
}

#page-header-bg.fullscreen-header .author-section,
#page-header-bg[data-post-hs="default_minimal"] .author-section {
    display: none!important;
}
</style>
<style type="text/css">
body,
.toggle h3 a,
body .ui-widget,
table,
.bar_graph li span strong,
#slide-out-widget-area .tagcloud a,
body .container .woocommerce-message a.button,
#search-results .result .title span,
.woocommerce ul.products li.product h3,
.woocommerce-page ul.products li.product h3,
.row .col.section-title .nectar-love span,
body .nectar-love span,
body .nectar-social .nectar-love .nectar-love-count,
body .carousel-heading h2,
.sharing-default-minimal .nectar-social .social-text,
body .sharing-default-minimal .nectar-love {
    font-family: Lato;
    letter-spacing: .5px;
    font-size: 15px;
    line-height: 22px;
    font-weight: 300;
}

.bold,
strong,
b {
    font-family: Lato;
    font-weight: 600;
}

.single #single-below-header span {
    font-family: Lato;
}

.nectar-fancy-ul ul li .icon-default-style[class^="icon-"] {
    line-height: 22px!important;
}

header#top nav>ul>li>a {
    font-family: Montserrat;
    text-transform: none;
    font-weight: 400;
}

header#top .sf-menu li ul li a,
#header-secondary-outer nav>ul>li>a,
#header-secondary-outer ul ul li a,
#header-outer .widget_shopping_cart .cart_list a {}

@media only screen and (min-width :1px) and (max-width :1000px) {
    header#top .sf-menu a {
        font-family: -!important;
        font-size: 14px!important;
    }
}

#page-header-bg h1,
body h1,
body .row .col.section-title h1,
.full-width-content .recent-post-container .inner-wrap h2 {
    font-family: Lato;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
}

@media only screen and (max-width:1300px) and (min-width:1000px) {
    body .row .col.section-title h1,
    body h1,
    .full-width-content .recent-post-container .inner-wrap h2 {
        font-size: 16.8px;
        line-height: 16.8px;
    }
}

@media only screen and (max-width:1000px) and (min-width:690px) {
    body .row .col.section-title h1,
    body h1 {
        font-size: 15.6px;
        line-height: 15.6px;
    }
    .full-width-content .recent-post-container .inner-wrap h2 {
        font-size: 14.4px;
        line-height: 14.4px;
    }
}

@media only screen and (max-width:690px) {
    body .row .col.section-title h1,
    body h1 {
        font-size: 14.4px;
        line-height: 14.4px;
    }
    .full-width-content .recent-post-container .inner-wrap h2 {
        font-size: 10.8px;
        line-height: 10.8px;
    }
}

#page-header-bg h2,
body h2,
article.post .post-header h2,
article.post.quote .post-content h2,
article.post.link .post-content h2,
article.post.format-status .post-content h2,
#call-to-action span,
.woocommerce .full-width-tabs #reviews h3,
.row .col.section-title h2 {
    font-family: Lato;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 15px;
    font-weight: 400;
}

@media only screen and (max-width:1300px) and (min-width:1000px) {
    body h2 {
        font-size: 12.75px;
        line-height: 12.75px;
    }
    .row .span_2 h2,
    .row .span_3 h2,
    .row .span_4 h2,
    .row .vc_col-sm-2 h2,
    .row .vc_col-sm-3 h2,
    .row .vc_col-sm-4 h2 {
        font-size: 10.5px;
        line-height: 10.5px;
    }
}

@media only screen and (max-width:690px) {
    .col h2 {
        font-size: 12.75px;
        line-height: 12.75px;
    }
}

body h3,
.row .col h3,
.toggle h3 a,
.ascend #respond h3,
.ascend h3#comments,
.woocommerce ul.products li.product.text_on_hover h3,
.masonry.classic_enhanced .masonry-blog-item h3.title,
.woocommerce ul.products li.product.material h3,
.woocommerce-page ul.products li.product.material h3,
.portfolio-items[data-ps="8"] .col h3,
.nectar-hor-list-item[data-font-family="h3"] {}

@media only screen and (min-width:1000px) {
    .ascend .comments-section .comment-wrap.full-width-section>h3,
    .blog_next_prev_buttons[data-post-header-style="default_minimal"] .col h3 {
        font-size: ;
        line-height: ;
    }
    .masonry.classic_enhanced .masonry-blog-item.large_featured h3.title {
        font-size: ;
        line-height: ;
    }
}

@media only screen and (min-width:1300px) and (max-width:1500px) {
    body .portfolio-items.constrain-max-cols.masonry-items .col.elastic-portfolio-item h3 {
        font-size: ;
        line-height: ;
    }
}

@media only screen and (max-width:1300px) and (min-width:1000px),
(max-width:690px) {
    .row .span_2 h3,
    .row .span_3 h3,
    .row .span_4 h3,
    .row .vc_col-sm-2 h3,
    .row .vc_col-sm-3 h3,
    .row .vc_col-sm-4 h3 {
        font-size: ;
        line-height: ;
    }
}

body h4,
.row .col h4,
.portfolio-items .work-meta h4,
.list-icon-holder[data-icon_type="numerical"] span,
.portfolio-items .col.span_3 .work-meta h4,
#respond h3,
h3#comments,
.portfolio-items[data-ps="6"] .work-meta h4,
.nectar-hor-list-item[data-font-family="h4"] {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    line-height: 21px;
}

@media only screen and (min-width:690px) {
    .portfolio-items[data-ps="6"] .wide_tall .work-meta h4 {
        font-size: 22.1px!important;
        line-height: 30.1px!important;
    }
    .nectar-slide-in-cart .widget_shopping_cart .cart_list .mini_cart_item>a:not(.remove) {}
}

body h5,
.row .col h5,
.portfolio-items .work-item.style-3-alt p,
.nectar-hor-list-item[data-font-family="h5"] {}

body .wpb_column>.wpb_wrapper>.morphing-outline .inner>h5 {
    font-size: ;
}

body h6,
.row .col h6,
.nectar-hor-list-item[data-font-family="h6"] {}

body i,
body em,
.masonry.meta_overlaid article.post .post-header .meta-author>span,
#post-area.masonry.meta_overlaid article.post .post-meta .date,
#post-area.masonry.meta_overlaid article.post.quote .quote-inner .author,
#post-area.masonry.meta_overlaid article.post.link .post-content .destination,
body .testimonial_slider[data-style="minimal"] blockquote span.title {
    font-family: Playfair Display;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
}

form label,
.woocommerce-checkout-review-order-table .product-info .amount,
.woocommerce-checkout-review-order-table .product-info .product-quantity,
.nectar-progress-bar p,
.nectar-progress-bar span strong i,
.nectar-progress-bar span strong,
.testimonial_slider:not([data-style="minimal"]) blockquote span,
.woocommerce-ordering .select2-container .select2-choice>.select2-chosen,
.tabbed[data-style="minimal_alt"]>ul li a {}

.portfolio-filters-inline .container>ul a,
.portfolio-filters>ul a,
.portfolio-filters>a span {}

.portfolio-items .col p,
.container-wrap[data-nav-pos="after_project_2"] .bottom_controls li span:not(.text) {}

.nectar-dropcap {}

body #page-header-bg h1,
html body .row .col.section-title h1,
.nectar-box-roll .overlaid-content h1 {}

@media only screen and (min-width:690px) and (max-width:1000px) {
    #page-header-bg .span_6 h1,
    .overlaid-content h1 {
        font-size: ;
        line-height: ;
    }
}

@media only screen and (min-width:1000px) and (max-width:1300px) {
    #page-header-bg .span_6 h1,
    .nectar-box-roll .overlaid-content h1 {
        font-size: ;
        line-height: ;
    }
}

@media only screen and (min-width:1300px) and (max-width:1500px) {
    #page-header-bg .span_6 h1,
    .nectar-box-roll .overlaid-content h1 {
        font-size: ;
        line-height: ;
    }
}

@media only screen and (max-width:690px) {
    #page-header-bg.fullscreen-header .span_6 h1,
    .overlaid-content h1 {
        font-size: ;
        line-height: ;
    }
}

body #page-header-bg .span_6 span.subheader,
body .row .col.section-title>span,
.nectar-box-roll .overlaid-content .subheader {}

@media only screen and (min-width:1000px) and (max-width:1300px) {
    body #page-header-bg:not(.fullscreen-header) .span_6 span.subheader,
    body .row .col.section-title>span {
        font-size: ;
        line-height: ;
    }
}

@media only screen and (min-width:690px) and (max-width:1000px) {
    body #page-header-bg.fullscreen-header .span_6 span.subheader,
    .overlaid-content .subheader {
        font-size: ;
        line-height: ;
    }
    #page-header-bg .span_6 span.subheader {
        font-size: 22px!important;
    }
}

@media only screen and (max-width:690px) {
    body #page-header-bg.fullscreen-header .span_6 span.subheader,
    .overlaid-content .subheader {
        font-size: ;
        line-height: ;
    }
    #page-header-bg .span_6 span.subheader {
        font-size: 15px!important;
    }
}

body #slide-out-widget-area .inner .off-canvas-menu-container li a,
body #slide-out-widget-area.fullscreen .inner .off-canvas-menu-container li a,
body #slide-out-widget-area.fullscreen-alt .inner .off-canvas-menu-container li a,
body #slide-out-widget-area.slide-out-from-right-hover .inner .off-canvas-menu-container li a,
body #nectar-ocm-ht-line-check {}

@media only screen and (min-width:690px) and (max-width:1000px) {
    body #slide-out-widget-area.fullscreen .inner .off-canvas-menu-container li a,
    body #slide-out-widget-area.fullscreen-alt .inner .off-canvas-menu-container li a {
        font-size: ;
        line-height: ;
    }
}

@media only screen and (max-width:690px) {
    body #slide-out-widget-area.fullscreen .inner .off-canvas-menu-container li a,
    body #slide-out-widget-area.fullscreen-alt .inner .off-canvas-menu-container li a {
        font-size: ;
        line-height: ;
    }
}

#slide-out-widget-area .menuwrapper li small {}

@media only screen and (min-width:690px) and (max-width:1000px) {
    #slide-out-widget-area .menuwrapper li small {
        font-size: ;
        line-height: ;
    }
}

@media only screen and (max-width:690px) {
    #slide-out-widget-area .menuwrapper li small {
        font-size: ;
        line-height: ;
    }
}

.swiper-slide .content h2 {}

@media only screen and (min-width:1000px) and (max-width:1300px) {
    body .nectar-slider-wrap[data-full-width="true"] .swiper-slide .content h2,
    body .nectar-slider-wrap[data-full-width="boxed-full-width"] .swiper-slide .content h2,
    body .full-width-content .vc_span12 .swiper-slide .content h2 {
        font-size: ;
        line-height: ;
    }
}

@media only screen and (min-width:690px) and (max-width:1000px) {
    body .nectar-slider-wrap[data-full-width="true"] .swiper-slide .content h2,
    body .nectar-slider-wrap[data-full-width="boxed-full-width"] .swiper-slide .content h2,
    body .full-width-content .vc_span12 .swiper-slide .content h2 {
        font-size: ;
        line-height: ;
    }
}

@media only screen and (max-width:690px) {
    body .nectar-slider-wrap[data-full-width="true"] .swiper-slide .content h2,
    body .nectar-slider-wrap[data-full-width="boxed-full-width"] .swiper-slide .content h2,
    body .full-width-content .vc_span12 .swiper-slide .content h2 {
        font-size: ;
        line-height: ;
    }
}

#featured article .post-title h2 span,
.swiper-slide .content p,
#portfolio-filters-inline #current-category,
body .vc_text_separator div {}

#portfolio-filters-inline ul {
    line-height: ;
}

.swiper-slide .content p.transparent-bg span {}

@media only screen and (min-width:1000px) and (max-width:1300px) {
    .nectar-slider-wrap[data-full-width="true"] .swiper-slide .content p,
    .nectar-slider-wrap[data-full-width="boxed-full-width"] .swiper-slide .content p,
    .full-width-content .vc_span12 .swiper-slide .content p {
        font-size: ;
        line-height: ;
    }
}

@media only screen and (min-width:690px) and (max-width:1000px) {
    .nectar-slider-wrap[data-full-width="true"] .swiper-slide .content p,
    .nectar-slider-wrap[data-full-width="boxed-full-width"] .swiper-slide .content p,
    .full-width-content .vc_span12 .swiper-slide .content p {
        font-size: ;
        line-height: ;
    }
}

@media only screen and (max-width:690px) {
    body .nectar-slider-wrap[data-full-width="true"] .swiper-slide .content p,
    body .nectar-slider-wrap[data-full-width="boxed-full-width"] .swiper-slide .content p,
    body .full-width-content .vc_span12 .swiper-slide .content p {
        font-size: ;
        line-height: ;
    }
}

.testimonial_slider blockquote,
.testimonial_slider blockquote span,
.testimonial_slider[data-style="minimal"] blockquote span:not(.title),
.testimonial_slider[data-style="minimal"] blockquote,
blockquote,
.testimonial_slider[data-style="minimal"] .controls {}

#footer-outer .widget h4,
#sidebar h4,
#call-to-action .container a,
.uppercase,
.nectar-button,
.nectar-button.medium,
.nectar-button.small,
.nectar-3d-transparent-button,
body .widget_calendar table th,
body #footer-outer #footer-widgets .col .widget_calendar table th,
.swiper-slide .button a,
body:not([data-header-format="left-header"]) header#top nav>ul>li.megamenu>ul>li>a,
.carousel-heading h2,
body .gform_wrapper .top_label .gfield_label,
body .vc_pie_chart .wpb_pie_chart_heading,
#infscr-loading div,
#page-header-bg .author-section a,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.ascend input[type="submit"],
.ascend button[type="submit"],
.widget h4,
.text-on-hover-wrap .categories a,
.text_on_hover.product .add_to_cart_button,
.woocommerce-page .single_add_to_cart_button,
.woocommerce div[data-project-style="text_on_hover"] .cart .quantity input.qty,
.woocommerce-page #respond input#submit,
.meta_overlaid article.post .post-header h2,
.meta_overlaid article.post.quote .post-content h2,
.meta_overlaid article.post.link .post-content h2,
.meta_overlaid article.post.format-status .post-content h2,
.meta_overlaid article .meta-author a,
.pricing-column.highlight h3 .highlight-reason,
.blog-recent[data-style="minimal"] .col>span,
body .masonry.classic_enhanced .posts-container article .meta-category a,
body .masonry.classic_enhanced .posts-container article.wide_tall .meta-category a,
.blog-recent[data-style*="classic_enhanced"] .meta-category a,
.nectar-recent-posts-slider .container .strong,
#page-header-bg[data-post-hs="default_minimal"] .inner-wrap>a,
.single .heading-title[data-header-style="default_minimal"] .meta-category a,
.nectar-fancy-box .link-text,
#post-area.standard-minimal article.post .post-meta .date a,
#post-area.standard-minimal article.post .more-link span,
.nectar-slide-in-cart .widget_shopping_cart .buttons a,
.material.product .product-wrap .product-add-to-cart a .price .amount,
.material.product .product-wrap .product-add-to-cart a span,
ul.products li.material.product span.onsale,
body[data-button-style="rounded"] #pagination>a,
html body #pagination>span,
.woocommerce nav.woocommerce-pagination ul li a,
html body nav.woocommerce-pagination ul li a,
html body nav.woocommerce-pagination ul li span,
.woocommerce .material.product .product-wrap .product-add-to-cart a.added_to_cart,
.woocommerce-page ul.products li.product.material .price,
.woocommerce-page ul.products li.product.material .price ins span,
body[data-form-submit="see-through-2"] input[type=submit],
body[data-form-submit="see-through-2"] button[type=submit],
body[data-form-submit="see-through"] input[type=submit],
body[data-form-submit="see-through"] button[type=submit],
body[data-form-submit="regular"] input[type=submit] body[data-form-submit="regular"] button[type=submit],
.nectar_team_member_overlay .team_member_details .title,
body:not([data-header-format="left-header"]) header#top nav>ul>li.megamenu>ul>li>ul>li.has-ul>a,
.nectar_fullscreen_zoom_recent_projects .project-slide .project-info .normal-container>a,
.nectar-hor-list-item .nectar-list-item-btn {
    font-weight: normal;
}

.team-member h4,
.row .col.section-title p,
.row .col.section-title span,
#page-header-bg .subheader,
.nectar-milestone .subject,
.testimonial_slider blockquote span {}

article.post .post-meta .month {
    line-height: -6px!important;
}